.card {
    border: 1px solid white;
}

.card:nth-child(1) .title {
    background-color: rgb(49, 171, 187);
}

.card:nth-child(1) .price {
    background-color: rgb(83, 206, 222);
}

.card:nth-child(2) .title {
    background-color: rgb(14, 133, 79);
}

.card:nth-child(2) .price {
    background-color: rgb(77, 142, 95);
}

.card:nth-child(3) .title {
    background-color: rgb(160, 48, 30);
}

.card:nth-child(3) .price {
    background-color: rgb(207, 85, 69);
}

.card:nth-child(4) .title {
    background-color: #000000;
}

.card:nth-child(4) .price {
    background-color: rgb(121, 121, 121);
}

.title {
    color: #FFFFFF;
}

.price {
    font-size: x-large;
    color: #FFFFFF;
}

.speed {
    background-color: #ecebeb;
}

.descr {
    background-color: rgb(217, 216, 216);
}

.selected {
    border: 2px solid black;
    height: 150px;
}